In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import pickle

### Import functions unique to this project

In [2]:
from master_functions import get_car_urls
from master_functions import make_model_df

## DODGE - Create master dataframe for all models

This worksheet is intended to build a datafame for all **Dodge** cars.  There are some 'quirks' in how the data is structured from its source on https://www.fueleconomy.gov/, so more manual steps are taken below to check files for issues, combine first what is 'normal' and then add in those that required special attention.

**Step #1:** Create unique urls for every car model for the years 1984 - 2021<br>
- Uses `get_car_urls` from master function, Inputs: (car_make, [list of all models])

In [3]:
dodge_urls = get_car_urls('Dodge',
                          ['600','Aries','Avenger',
                           'B150/B250 Van','B150/B250 Wagon',
                           'B1500 Van', 'B1500 Wagon',
                           'B1500/B2500 Van','B1500/B2500 Wagon',
                           'B2500 Van','B2500 Wagon','B350 Van',
                           'B350 Wagon','B3500 Van','B3500 Wagon',
                           'Caliber','Caravan C/V/Grand Caravan',
                           'Caravan/Grand Caravan',
                           'Caravan/Ram Van','Challenger','Charger',
                           'Colt','Conquest','CSX','D100/D150 Pickup',
                           'D250 Cab Chassis','D250 Cab Chassis',
                           'D250 Pickup','D250 Pickup Cab Chassis',
                           'Dakota Pickup','Dart','Daytona',
                           'Diplomat','Durango','Dynasty','GLH-S',
                           'Grand Caravan','Intrepid','Journey',
                           'Lancer','Magnum','Monaco','Neon',
                           'Nitro','Omni','Power Ram 50 Pickup',
                           'Raider','Ram 1500 Pickup','Ram 2500 Pickup',
                           'Ram 50 Pickup','Ram Van 1500',
                           'Ram Van 2500','Ram Wagon 1500',
                           'Ram Wagon 2500','Ramcharger',
                           'Rampage Pickup','Shadow','Spririt',
                           'Stealth','Stratus','Viper','W250 Pickup'
                          ])

-

**Step #2:** Get length of list created in Step 1.  This number will be how many times you run the function in Step 3 to check all of the urls<br>

In [4]:
# Verify number of urls and use this number
# to know how many urls need to 'check below'

len(dodge_urls)

62

-

**Step #3:** Check all of the urls you just created.<br>
- If does not work, add to 'problem' URLs string below this cell

In [68]:
# Test area for each url with [carmake]_urls[index]
# by seeing if data appears correctly

make_model_df('Dodge',dodge_urls[61])

,year,make,model,capacity_liters,cylinders,transmission,trans_speed,fuel_type,gg_emissions,mpg
0,1993,Dodge,W250 Pickup 4WD,5.2,8,Manual,5,Regular Gasoline,684,13
1,1992,Dodge,W250 Pickup 4WD,5.2,8,Manual,5,Regular Gasoline,684,13
2,1993,Dodge,W250 Pickup 4WD,5.2,8,Automatic,4,Regular Gasoline,741,12
3,1992,Dodge,W250 Pickup 4WD,5.2,8,Automatic,4,Regular Gasoline,741,12
4,1990,Dodge,W250 Pickup 4WD,5.2,8,Manual,4,Regular Gasoline,741,12
5,1988,Dodge,W250 Pickup 4WD,5.2,8,Manual,4,Regular Gasoline,741,12
6,1988,Dodge,W250 Pickup 4WD,5.2,8,Automatic,3,Regular Gasoline,741,12
7,1985,Dodge,W250 Pickup 4WD,5.2,8,Automatic,3,Regular Gasoline,741,12
8,1985,Dodge,W250 Pickup 4WD,5.2,8,Automatic,3,Regular Gasoline,741,12
9,1993,Dodge,W250 Pickup 4WD,5.9,8,Automatic,4,Regular Gasoline,741,12

-

Populate this section so if there are any 'problem' URLs from your test above

In [69]:
#'Problem' URLs
'''
dodge_urls[17]
dodge_urls[36]
dodge_urls[47]
dodge_urls[]

'''

#Print list length again to 
#set length of range in next cell
len(dodge_urls)

62

-

**Step #4:** Create dfs for all 'okay' urls and place each into a master list
- Automate where possible, but some may need to be added one by one to avoid 'problem' urls

In [71]:
# for 'normal' urls to make a df and add to master df list, automate it!

dodge_dfs = []

for x in range(0,17):
    dodge_dfs.append(make_model_df('Dodge',dodge_urls[x]))
    
for x in range(18,36):
    dodge_dfs.append(make_model_df('Dodge',dodge_urls[x]))

for x in range(37,47):
    dodge_dfs.append(make_model_df('Dodge',dodge_urls[x]))
    
for x in range(48,62):
    dodge_dfs.append(make_model_df('Dodge',dodge_urls[x]))

-

**Step #5:** Concatenate all of the 'normal' car model dfs into one master dataframe

In [72]:
dodge_dfs = pd.concat(dodge_dfs, ignore_index=True)

dodge_dfs

,year,make,model,capacity_liters,cylinders,transmission,trans_speed,fuel_type,gg_emissions,mpg
0,1984.0,Dodge,600,2.2,4.0,Manual,5,Regular Gasoline,355.0,25.0
1,1984.0,Dodge,600,2.2,4.0,Manual,5,Regular Gasoline,370.0,24.0
2,1989.0,Dodge,600,2.2,4.0,Automatic,3,Regular Gasoline,386.0,23.0
3,1988.0,Dodge,600,2.2,4.0,Automatic,3,Regular Gasoline,386.0,23.0
4,1984.0,Dodge,600,2.2,4.0,Automatic,3,Regular Gasoline,386.0,23.0
...,...,...,...,...,...,...,...,...,...,...
497,1988.0,Dodge,W250 Pickup 4WD,5.2,8.0,Manual,4,Regular Gasoline,741.0,12.0
498,1988.0,Dodge,W250 Pickup 4WD,5.2,8.0,Automatic,3,Regular Gasoline,741.0,12.0
499,1985.0,Dodge,W250 Pickup 4WD,5.2,8.0,Automatic,3,Regular Gasoline,741.0,12.0
500,1985.0,Dodge,W250 Pickup 4WD,5.2,8.0,Automatic,3,Regular Gasoline,741.0,12.0
501,1993.0,Dodge,W250 Pickup 4WD,5.9,8.0,Automatic,4,Regular Gasoline,741.0,12.0

-

**Step #6:** Pickle the dataframe made in Step 6 of all car's models with 'normal' dataframes
- Will now be saved so further work on dataframe can start at this place

In [73]:
with open('pickles/dodge_dfs.pickle', 'wb') as to_write:
    pickle.dump(dodge_dfs, to_write)

-

**Step #7:** Un-pickle the dataframe made in Step 7 of all car's models with 'normal' dataframes

In [74]:
with open('pickles/dodge_dfs.pickle','rb') as read_file:
    dodge_dfs = pickle.load(read_file)