In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import pickle

### Import functions unique to this project

In [2]:
from master_functions import get_car_urls
from master_functions import make_model_df

## FORD - Create master dataframe for all models

This worksheet is intended to build a datafame for all **Ford** cars.  There are some 'quirks' in how the data is structured from its source on https://www.fueleconomy.gov/, so more manual steps are taken below to check files for issues, combine first what is 'normal' and then add in those that required special attention.

**Step #1:** Create unique urls for every car model for the years 1984 - 2021<br>
- Uses `get_car_urls` from master function, Inputs: (car_make, [list of all models])

In [3]:
ford_urls = get_car_urls('Ford',
                         ['Aerostar Van','Aerostar Wagon',
                          'Aspire','Bronco','Bronco II',
                          'C-MAX','Contour','Crown Victoria',
                          'E150 Club Wagon','E150 Econoline',
                          'E150 Van','E150 Wagon','E250 Econoline',
                          'E250 Van','E350 Van','E350 Wagon',
                          'EcoSport','Edge','Escape','Escort',
                          'EXP','Expedition','Explorer','F150',
                          'F250','Festiva','Fiesta','Five Hundred',
                          'Flex','Focus','Freestar','Fusion',
                          'GT','Laser','LTD','LTD Crown Victoria',
                          'Mustang','Postal Vehicle','Probe',
                          'Ranger','Taurus','Tempo','Th!nk',
                          'Thunderbird','Transit Connect',
                          'Transit T150 Wagon','Windstar'
                         ])

-

**Step #2:** Get length of list created in Step 1.  This number will be how many times you run the function in Step 3 to check all of the urls<br>

In [4]:
# Verify number of urls and use this number
# to know how many urls need to 'check below'

len(ford_urls)

47

-

**Step #3:** Check all of the urls you just created.<br>
- If does not work, add to 'problem' URLs string below this cell

In [54]:
# Test area for each url with [carmake]_urls[index]
# by seeing if data appears correctly

make_model_df('Ford',ford_urls[46])

,year,make,model,capacity_liters,cylinders,transmission,trans_speed,fuel_type,gg_emissions,mpg
0,1998,Ford,Windstar FWD Van,3.0,6,Automatic,4,Regular Gasoline,468,19
1,1995,Ford,Windstar FWD Van,3.0,6,Automatic,4,Regular Gasoline,468,19
2,1998,Ford,Windstar FWD Wagon,3.0,6,Automatic,4,Regular Gasoline,468,19
3,1995,Ford,Windstar FWD Wagon,3.0,6,Automatic,4,Regular Gasoline,468,19
4,2003,Ford,Windstar FWD Cargo Van,3.8,6,Automatic,4,Regular Gasoline,494,18
5,2001,Ford,Windstar FWD Van,3.8,6,Automatic,4,Regular Gasoline,494,18
6,1998,Ford,Windstar FWD Van,3.8,6,Automatic,4,Regular Gasoline,494,18
7,2003,Ford,Windstar FWD Wagon,3.8,6,Automatic,4,Regular Gasoline,494,18
8,2001,Ford,Windstar FWD Wagon,3.8,6,Automatic,4,Regular Gasoline,494,18
9,1998,Ford,Windstar FWD Wagon,3.8,6,Automatic,4,Regular Gasoline,494,18

-

Populate this section so if there are any 'problem' URLs from your test above

In [55]:
#'Problem' URLs
'''
ford_urls[5]
ford_urls[7]
ford_urls[10]
ford_urls[11]
ford_urls[13]
ford_urls[14]
ford_urls[15]
ford_urls[18]
ford_urls[22]
ford_urls[29]
ford_urls[31]
ford_urls[39]
ford_urls[44]
ford_urls[45]

'''

#Print list length again to 
#set length of range in next cell
len(ford_urls)

47

-

**Step #4:** Create dfs for all 'okay' urls and place each into a master list
- Automate where possible, but some may need to be added one by one to avoid 'problem' urls

In [56]:
# for 'normal' urls to make a df and add to master df list, automate it!

ford_dfs = []

for x in range(0,5):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

ford_dfs.append(make_model_df('Ford',ford_urls[6]))

for x in range(8,10):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

ford_dfs.append(make_model_df('Ford',ford_urls[12]))
    
for x in range(16,18):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

for x in range(19,22):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

for x in range(23,29):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

for x in range(30,31):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

for x in range(32,39):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

for x in range(40,44):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

for x in range(40,44):
    ford_dfs.append(make_model_df('Ford',ford_urls[x]))

ford_dfs.append(make_model_df('Ford',ford_urls[46]))

-

**Step #5:** Concatenate all of the 'normal' car model dfs into one master dataframe

In [57]:
ford_dfs = pd.concat(ford_dfs, ignore_index=True)

ford_dfs

,year,make,model,capacity_liters,cylinders,transmission,trans_speed,fuel_type,gg_emissions,mpg
0,1987.0,Ford,Aerostar Van,2.3,4.0,Manual,5,Regular Gasoline,370.0,24.0
1,1986.0,Ford,Aerostar Van,2.3,4.0,Manual,5,Regular Gasoline,370.0,24.0
2,1987.0,Ford,Aerostar Van,2.3,4.0,Automatic,4,Regular Gasoline,444.0,20.0
3,1992.0,Ford,Aerostar Van,3.0,6.0,Manual,5,Regular Gasoline,444.0,20.0
4,1986.0,Ford,Aerostar Van,2.3,4.0,Automatic,4,Regular Gasoline,468.0,19.0
...,...,...,...,...,...,...,...,...,...,...
323,2001.0,Ford,Windstar FWD Van,3.8,6.0,Automatic,4,Regular Gasoline,494.0,18.0
324,1998.0,Ford,Windstar FWD Van,3.8,6.0,Automatic,4,Regular Gasoline,494.0,18.0
325,2003.0,Ford,Windstar FWD Wagon,3.8,6.0,Automatic,4,Regular Gasoline,494.0,18.0
326,2001.0,Ford,Windstar FWD Wagon,3.8,6.0,Automatic,4,Regular Gasoline,494.0,18.0
327,1998.0,Ford,Windstar FWD Wagon,3.8,6.0,Automatic,4,Regular Gasoline,494.0,18.0

-

**Step #6:** Pickle the dataframe made in Step 6 of all car's models with 'normal' dataframes
- Will now be saved so further work on dataframe can start at this place

In [58]:
with open('pickles/ford_dfs.pickle', 'wb') as to_write:
    pickle.dump(ford_dfs, to_write)

-

**Step #7:** Un-pickle the dataframe made in Step 7 of all car's models with 'normal' dataframes

In [59]:
with open('pickles/ford_dfs.pickle','rb') as read_file:
    ford_dfs = pickle.load(read_file)