In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import pickle

### Import functions unique to this project

In [2]:
from master_functions import get_car_urls
from master_functions import make_model_df

## MITSUBISHI - Create master dataframe for all models

This worksheet is intended to build a datafame for all **Mitsubishi** cars.  There are some 'quirks' in how the data is structured from its source on https://www.fueleconomy.gov/, so more manual steps are taken below to check files for issues, combine first what is 'normal' and then add in those that required special attention.

**Step #1:** Create unique urls for every car model for the years 1984 - 2021<br>
- Uses `get_car_urls` from master function, Inputs: (car_make, [list of all models])

In [3]:
mitsubishi_urls = get_car_urls('Mitsubishi',
                               ['3000 GT','3000 GT Spyder','Cordia',
                                'Diamante','Eclipse','Eclipse Cross',
                                'Endeavor','Expo','Galant','i-MiEV',
                                'Lancer','Mirage','Montero','Montero Sport',
                                'Nativa','Outlander','Precis','Raider Pickup',
                                'Sigma','Space Wagon','Starion','Tredia',
                                'Truck','Van','Wagon'
                               ])

-

**Step #2:** Get length of list created in Step 1.  This number will be how many times you run the function in Step 3 to check all of the urls<br>

In [4]:
# Verify number of urls and use this number
# to know how many urls need to 'check below'

len(mitsubishi_urls)

25

-

**Step #3:** Check all of the urls you just created.<br>
- If does not work, add to 'problem' URLs string below this cell

In [31]:
# Test area for each url with [carmake]_urls[index]
# by seeing if data appears correctly

make_model_df('Mitsubishi',mitsubishi_urls[24])

,year,make,model,capacity_liters,cylinders,transmission,trans_speed,fuel_type,gg_emissions,mpg
0,1988,Mitsubishi,Wagon,2.4,4,Automatic,4,Regular Gasoline,523,17
1,1987,Mitsubishi,Wagon,2.4,4,Automatic,4,Regular Gasoline,523,17
2,1990,Mitsubishi,Wagon,2.4,4,Automatic,4,Regular Gasoline,523,17
3,1989,Mitsubishi,Wagon,2.4,4,Automatic,4,Regular Gasoline,523,17

-

Populate this section so if there are any 'problem' URLs from your test above

In [32]:
#'Problem' URLs
'''
mitsubishi_urls[9]
mitsubishi_urls[15]
'''

#Print list length again to 
#set length of range in next cell
len(mitsubishi_urls)

25

-

**Step #4:** Create dfs for all 'okay' urls and place each into a master list
- Automate where possible, but some may need to be added one by one to avoid 'problem' urls

In [33]:
# for 'normal' urls to make a df and add to master df list, automate it!

mitsubishi_dfs = []

for x in range(0,9):
    mitsubishi_dfs.append(make_model_df('Mitsubishi',mitsubishi_urls[x]))

for x in range(10,15):
    mitsubishi_dfs.append(make_model_df('Mitsubishi',mitsubishi_urls[x]))
    
for x in range(16,25):
    mitsubishi_dfs.append(make_model_df('Mitsubishi',mitsubishi_urls[x]))

-

**Step #5:** Concatenate all of the 'normal' car model dfs into one master dataframe

In [34]:
mitsubishi_dfs = pd.concat(mitsubishi_dfs, ignore_index=True)

mitsubishi_dfs

,year,make,model,capacity_liters,cylinders,transmission,trans_speed,fuel_type,gg_emissions,mpg
0,1999,Mitsubishi,3000 GT,3.0,6,Manual,5,Regular Gasoline,468,19
1,1998,Mitsubishi,3000 GT,3.0,6,Manual,5,Regular Gasoline,468,19
2,1997,Mitsubishi,3000 GT,3.0,6,Manual,5,Regular Gasoline,468,19
3,1996,Mitsubishi,3000 GT,3.0,6,Manual,5,Premium Gasoline,468,19
4,1995,Mitsubishi,3000 GT,3.0,6,Manual,5,Regular Gasoline,468,19
...,...,...,...,...,...,...,...,...,...,...
204,1987,Mitsubishi,Van,2.4,4,Automatic,4,Regular Gasoline,494,18
205,1988,Mitsubishi,Wagon,2.4,4,Automatic,4,Regular Gasoline,523,17
206,1987,Mitsubishi,Wagon,2.4,4,Automatic,4,Regular Gasoline,523,17
207,1990,Mitsubishi,Wagon,2.4,4,Automatic,4,Regular Gasoline,523,17
208,1989,Mitsubishi,Wagon,2.4,4,Automatic,4,Regular Gasoline,523,17

-

**Step #6:** Pickle the dataframe made in Step 6 of all car's models with 'normal' dataframes
- Will now be saved so further work on dataframe can start at this place

In [35]:
with open('pickles/mitsubishi_dfs.pickle', 'wb') as to_write:
    pickle.dump(mitsubishi_dfs, to_write)

-

**Step #7:** Un-pickle the dataframe made in Step 7 of all car's models with 'normal' dataframes

In [36]:
with open('pickles/mitsubishi_dfs.pickle','rb') as read_file:
    mitsubishi_dfs = pickle.load(read_file)