In [2]:
import pandas as pd
import pickle

## Create the Master List for ALL Cars

This is where you go to bring all car make dataframes together for creating the master dataframes of all cars

### **Step 1:** Unpickle all dfs for all car makes (25 total) 

Individual car make df must be created and its pickle listed here to bring it into the master car list

In [202]:
# Acura
with open('pickles/acura_dfs.pickle','rb') as read_file:
    acura_dfs = pickle.load(read_file)

In [203]:
# Audi
with open('pickles/audi_dfs.pickle','rb') as read_file:
    audi_dfs = pickle.load(read_file)

In [204]:
#BMW
with open('pickles/bmw_dfs.pickle','rb') as read_file:
    bmw_dfs = pickle.load(read_file)

In [205]:
#Bentley
with open('pickles/bentley_dfs.pickle','rb') as read_file:
    bentley_dfs = pickle.load(read_file)

In [206]:
#Bugatti
with open('pickles/bugatti_dfs.pickle','rb') as read_file:
    bugatti_dfs = pickle.load(read_file)

In [207]:
#Buick
with open('pickles/buick_dfs.pickle','rb') as read_file:
    buick_dfs = pickle.load(read_file)

In [208]:
#Cadillac
with open('pickles/cadillac_dfs.pickle','rb') as read_file:
    cadillac_dfs = pickle.load(read_file)

In [209]:
#Chevrolet
with open('pickles/chevrolet_dfs.pickle','rb') as read_file:
    chevrolet_dfs = pickle.load(read_file)

In [210]:
#Chrysler
with open('pickles/chrysler_dfs.pickle','rb') as read_file:
    chrysler_dfs = pickle.load(read_file)

In [211]:
#Dodge
with open('pickles/dodge_dfs.pickle','rb') as read_file:
    dodge_dfs = pickle.load(read_file)

In [212]:
#Ford
with open('pickles/ford_dfs.pickle','rb') as read_file:
    ford_dfs = pickle.load(read_file)

In [213]:
#GMC
with open('pickles/gmc_dfs.pickle','rb') as read_file:
    gmc_dfs = pickle.load(read_file)

In [214]:
#Honda
with open('pickles/honda_dfs.pickle','rb') as read_file:
    honda_dfs = pickle.load(read_file)

In [215]:
#Jaguar
with open('pickles/jaguar_dfs.pickle','rb') as read_file:
    jaguar_dfs = pickle.load(read_file)

In [216]:
#Jeep
with open('pickles/jeep_dfs.pickle','rb') as read_file:
    jeep_dfs = pickle.load(read_file)

In [217]:
#Maserati
with open('pickles/maserati_dfs.pickle','rb') as read_file:
    maserati_dfs = pickle.load(read_file)

In [218]:
#Mazda
with open('pickles/mazda_dfs.pickle','rb') as read_file:
    mazda_dfs = pickle.load(read_file)

In [219]:
#Mercedes-Benz
with open('pickles/mercedes_dfs.pickle','rb') as read_file:
    mercedes_dfs = pickle.load(read_file)

In [220]:
#Mitsubishi
with open('pickles/mitsubishi_dfs.pickle','rb') as read_file:
    mitsubishi_dfs = pickle.load(read_file)

In [221]:
#Nissan
with open('pickles/nissan_dfs.pickle','rb') as read_file:
    nissan_dfs = pickle.load(read_file)

In [222]:
#Porsche
with open('pickles/porsche_dfs.pickle','rb') as read_file:
    porsche_dfs = pickle.load(read_file)

In [223]:
#Subaru
with open('pickles/subaru_dfs.pickle','rb') as read_file:
    subaru_dfs = pickle.load(read_file)

In [224]:
#Toyota
with open('pickles/toyota_dfs.pickle','rb') as read_file:
    toyota_dfs = pickle.load(read_file)

In [225]:
#Volkswagen
with open('pickles/volkswagen_dfs.pickle','rb') as read_file:
    volkswagen_dfs = pickle.load(read_file)

In [226]:
#Volvo
with open('pickles/volvo_dfs.pickle','rb') as read_file:
    volvo_dfs = pickle.load(read_file)

-

### **Step 2:** Pull all unpickled dfs together to create final list of all cars!

In [227]:
# make a list of all car makes' dfs
make_dfs = [acura_dfs,
            audi_dfs,
            bmw_dfs,
            bentley_dfs,
            bugatti_dfs,
            buick_dfs,
            cadillac_dfs,
            chevrolet_dfs,
            chrysler_dfs,
            dodge_dfs,
            ford_dfs,
            gmc_dfs,
            honda_dfs,
            jaguar_dfs,
            jeep_dfs,
            maserati_dfs,
            mazda_dfs,
            mercedes_dfs,
            mitsubishi_dfs,
            nissan_dfs,
            porsche_dfs,
            subaru_dfs,
            toyota_dfs,
            volkswagen_dfs,
            volvo_dfs
           ]

# concatendate all car makes' dfs to create master list
all_cars_df = pd.concat(make_dfs, ignore_index=True)

-

Find size of master dataframe just created above >

In [228]:
all_cars_df.shape

(5265, 10)

Now pickle it & create a csv for ease to pull and reference moving forward >

In [229]:
all_cars_df.to_csv('all_cars_df.csv')

In [230]:
with open('pickles/all_cars_df.pickle', 'wb') as to_write:
    pickle.dump(all_cars_df, to_write)

-

### **Step 3:** Clean up values in dataframe as needed to prepare for analysis

In [3]:
# first un-pickle to get master dataframe of all cars made above

with open('pickles/all_cars_df.pickle','rb') as read_file:
    all_cars_df = pickle.load(read_file)

In [4]:
all_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             5265 non-null   float64
 1   make             5265 non-null   object
 2   model            5265 non-null   object
 3   capacity_liters  5265 non-null   float64
 4   cylinders        5265 non-null   float64
 5   transmission     5265 non-null   object
 6   trans_speed      5265 non-null   object
 7   fuel_type        5265 non-null   object
 8   gg_emissions     5265 non-null   float64
 9   mpg              5265 non-null   float64
dtypes: float64(5), object(5)
memory usage: 411.5+ KB

-

Digit Types - year, capacity_liters, cylinders, gg_emissions, and mpg should all be numeric

`year` are `cylinders` are float, but will change to integer clean -- later dummies will be created for them

In [5]:
all_cars_df['year'] = all_cars_df.year.astype('int32')

In [6]:
all_cars_df['cylinders'] = all_cars_df.cylinders.astype('int32')

-

Space needs to be stripped in `fuel_types` names >>

In [8]:
all_cars_df['fuel_type'] = all_cars_df.fuel_type.str.strip(' ')

-

A lot of values for capacity liters -- may want to try bucketing them for analysis

In [119]:
all_cars_df.capacity_liters.unique()

array([2.2, 2.3, 3.2, 3. , 1.5, 2.4, 2. , 1.6, 1.8, 2.5, 2.7, 3.5, 3.7,
       2.8, 2.1, 5.2, 4.2, 2.9, 4. , 3.6, 4.4, 1.9, 4.9, 6.8, 6.7, 8. ,
       4.3, 3.8, 3.1, 5.7, 5. , 1.3, 1.4, 1.2, 5.3, 3.4, 4.1, 4.5, 4.6,
       6. , 6.2, 6.5, 1. , 3.3, 2.6, 3.9, 5.9, 8.4, 5.4, 4.7, 5.6, 5.5,
       1.7])

-

Looks like we have over 1000 models of cars, so this will likely be left out of analysis -- there are too many comparied to overall dataset size and would not be of value in the model as it doesn't affect the mechanics of the car that create greeenhouse gas emissions (the 'y')

In [120]:
len(all_cars_df.model.unique())

1083

-

The 'y' value (greenhouse gas emissions from tailpipe of car >>

In [142]:
print(f'There are {len(all_cars_df.gg_emissions.unique())} values of actual greenhouse gas emissions -- the "y" values.')
print(f'The values for the greenhouse gas emissions range from {all_cars_df.gg_emissions.min()} to  {all_cars_df.gg_emissions.max()}')

There are 337 values of actual greenhouse gas emissions -- the "y" values.
The values for the greenhouse gas emissions range from 168.0 to  889.0

Completed basics of cleaning up data -- now pickle this dataframe and rename as `all_cars_eda` to then pull in new notebook `all_cars_gge_model.ipynb`, and that's the next file we'll go to to continue with Exploratory Data Analysis and to build a model!

In [10]:
with open('pickles/all_cars_eda.pickle', 'wb') as to_write:
    pickle.dump(all_cars_df, to_write)

-